body,
html,
* {
    padding: 0;
    margin: 0 auto;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    text-align: left;
    background-color: greenyellow;
} 

h1 {
    margin: 2rem;
    font-size: 3.5rem;    
    text-align: center;
}

.reminder-fillout{
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
}

#submit { 
    margin: 2.5em;
    padding: 0.5em;
}

.parent-fillout-div{
    display: flex;
    padding-bottom: 2rem;
    font-size: 3rem;
    align-items: center;

}

.reminder-box {
    margin: 2rem; 
    font-size: 3rem;
    width: 21%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 0.2rem solid black;
    align-items: center;
    padding: 5em;

}

.reminder-positioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

